<div class="constrained">
	<%= form_for @restaurant, html: { :class => "full-page" } do |f| %>
		<h1>Signup</h1>

		<div class="control-group">
			<%= f.label :name %>
			<%= f.text_field :name, placeholder: 'name of your restaurant' %>
		</div>

		<div class="control-group">
			<%= f.label :address %>
			<%= f.text_field :address, placeholder: 'Change Alley, London, Greater London, EC3V 3LL' %>
		</div>

		<%= f.fields_for :users do |user_f| %>
			<div class="control-group control-group-multi">
				<%= user_f.label :name %>
				<%= user_f.text_field :first_name, placeholder: 'First name' %>
				<%= user_f.text_field :last_name, placeholder: 'Last name' %>
			</div>

			<div class="control-group">
				<%= user_f.label :email %>
				<%= user_f.text_field :email, placeholder: 'jim@example.com' %>
			</div>

			<div class="control-group">
				<%= user_f.label :password %>
				<%= user_f.password_field :password, placeholder: 'password' %>
			</div>		
		<% end %>

		<%= f.submit 'Sign up', :class => "btn" %>
	<% end -%>
</div>