<!DOCTYPE html>
<html class="<%= page_class %>">
<head>
  <title>Tablefillr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_for :above_nav %>

<div class="navbar">
	<div class="constrained">
		<a href="#" class="brand">Tablefillr</a>
		<div class="nav">
			<!-- <a href="#" class="btn">Try it now</a> -->
		</div>
	</div>
</div>

<%= yield %>

</body>
</html>
